body{
        background-color: #10b8fa;
        text-align: center;
      }
      body > h1{
        color: white;
      }
      div{
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        text-align: left;
      }
      
      p > input{
        width: 60px;
        margin-right: 5px;
      }